- form_for(test) do |f|
  %p
    = f.error_messages

  .input
    = f.label :Nazwa
    = f.text_field :name
  
  .categories_fields
    %h2
      Kateogrie
    %ul
      - f.fields_for :test_categories do |category_form|
        %li
          = category_form.hidden_field :category_id
          = category_form.label :Liczba, category_form.object.category.name
          = category_form.text_field :number
  .input
    = f.submit 'Wyślij'
