- form_for(test) do |f|
  .errors
    = f.error_messages

  %p
    = f.label :name, "Nazwa"
    = f.text_field :name
  
  %p
    = f.label :password, "Hasło"
    = f.password_field :password
  
  %p
    = f.label :password_confirmation, "Powtórz Hasło"
    = f.password_field :password_confirmation
  
  %p
    = f.label "expiry_date", "Data wygaśnięcia hasła"
    = datetime_select("school_test", "expiry_date")
    
  %p
    = f.label :minutes, "Czas trwania testu(w minutach)"
    = f.text_field :minutes
  
  .grade_scale_fields
    %h2
      Skala ocen
    - f.fields_for :grade_scale do |scale_form|
      %p
        = scale_form.label :five, "5:"
        = scale_form.text_field :five
        \%
      %p
        = scale_form.label :four_and_half, "4.5:"
        = scale_form.text_field :four_and_half
        \%
      %p
        = scale_form.label :four, "4:"
        = scale_form.text_field :four
        \%
      %p
        = scale_form.label :three_and_half, "3.5:"
        = scale_form.text_field :three_and_half
        \%
      %p
        = scale_form.label :three, "3:"
        = scale_form.text_field :three
        \%
  #categories_fields
    %h2
      Kateogrie
    - f.fields_for :test_categories do |category_form|
      %p.category_input
        = category_form.hidden_field :category_id
        = category_form.label :Liczba, category_form.object.category.name
        = category_form.text_field :number
        = category_form.hidden_field :_delete, :class => "destroy_field"
        %a{:class => "remove_category", :href => '#', :style => "display: none"}
          remove
  #available_categories
    %h2
      Dostępne Kategorie
    %ul
      - @categories.each do |category|
        %li.category_item
          %span.id
            = category.id
          %span.name
            = category.name
  .input
    = f.submit 'Wyślij'
  

      
