%h1
  = @answer.school_test.name

%dl
  %dt
    Imię
  %dd
    = @answer.first_name
  %dt
    Nazwisko
  %dd
    = @answer.last_name
  %dt
    Numer indesku
  %dd
    = @answer.student_number
  %dt
    Numer grupy
  %dd
    = @answer.group_number
  %dt
    IP
  %dd
    = @answer.ip
  %dt
    Ilość punktów
  %dd
    = @answer.score
    \/
    = @answer.school_test.max_score
  %dt
    Ocena
  %dd
    = @answer.grade

%h2.answer_list
  Odpowiedzi na pytania
%ol.answer_list
  - @answer.student_question_answers.each do |question|
    %li{:class => question.correct? ? "correct" : "incorrect"}
      %span.question_text
        = question.text
      %ul
        - question.chosen_answers.each do |chosen_answer|
          %li
            = chosen_answer.text
