- form_for user_session do |f|
  %p= f.error_messages
  .input
    = f.label :email
    = f.text_field :email
  .input
    = f.label :Hasło
    = f.password_field :password
  .input
    = f.submit "Zaloguj", :class=>"button"
